<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <% if current_user.nil? %>
        <a href = "<%= new_session_url %>" > Login </a>
      <% else %>
        Welcome <%= current_user.username %> ! =^._.^= ∫ <br>
        <form action = "<%= session_url  %>" method = "post">
          <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
          <input type = "hidden" name = "_method" value = "delete">
          <input type = "submit" value = "Logout!">
        </form>
      <% end %>
    </header>
    <%= yield %>
    
    <br>
    <img src = "https://www.catster.com/wp-content/uploads/2017/08/A-fluffy-cat-looking-funny-surprised-or-concerned.jpg" >
  </body>
</html>
